$fontFamily: "Quicksand", sans-serif;
$fontSize: 1.125rem;
$lineHeight: 25px;
$fontWeight: 500;
$primaryFontColor: #000;
$secondaryFontColor: #25f525;


.header {
  width: 100% !important;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center !important;
  background: white !important;
  border-bottom: 2px solid #eee;
  font-family: $fontFamily;
  padding: 60px 80px  !important;
}

.headerFeatures {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  align-items: center !important;
 
 
}
.navLinkGroup{
  display: flex;
  gap: 30px;
}

.headerNavLink {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $primaryFontColor;
  &:hover {
    color: $secondaryFontColor;
  }
}


