$fontFamily: "Quicksand", sans-serif;
$lineHeight: 25px;
$fontWeight: 500;
$primaryFontColor: #000;

.cartSection {
  width: 100%;
  font-family: $fontFamily;
  font-weight: $fontWeight;
  color: $primaryFontColor;
  line-height: $lineHeight important;
}

.cartHeader {
  width: 100%;
}
.alertPanel {
  width: 50%;
  margin: auto;
}
.redirectStatement {
  width: 50%;
  margin: auto;
  padding: 5px 15px;
}
