$fontFamily: "Quicksand", sans-serif;
$fontSize: 1.5rem;
$lineHeight: 25px;
$fontWeight: 500;
$primaryFontColor: #000;
$secondaryFontColor: #fff;
$bgColor: #ec7b04;

.contentSection {
  width: 100%;
  margin-bottom: 100px;
}
.sectionHeader {
  max-width: 1300px;
  padding: 0 1%;
  margin: auto;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $primaryFontColor;
  margin-bottom: 30px;
}
.foodItemsContainer {
  width: 100%;
  max-width: 1300px;
  padding: 0 1%;
  margin: auto;
}

.allCategoryFooter {
  width: 100%;
  height: 3.4375rem;
  margin-top: 5rem;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.emptyState {
  width: 100%;
  max-width: 1300px;
  padding: 0 1%;
  margin: auto;
  font-family: $fontFamily;
  font-size: 1rem;
  font-weight: $fontWeight;
  color: $primaryFontColor;
  opacity: 0.5;
}

@media only screen and (max-width: 399px) {
  .contentSection {
    width: 100%;
    margin-bottom: 100px;
  }
}
