$fontFamily: "Quicksand", sans-serif;
$fontSize: 1.5rem;
$lineHeight: 25px;
$fontWeight: 500;
$primaryFontColor: #000;
$secondaryFontColor: #fff;
$bgColor: #ec7b04;

.itemCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);

  &:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3),
      0 12px 40px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 4.9);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 4.9);

    .itemDetails {
      background-color: #008000;
    }
  }
}

.itemImageContainer {
  width: 100%;
  height: 120px;
}
.itemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.itemDetails {
  width: 100%;
  background-color: $bgColor;
  padding: 5px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.itemName,
.itemPrice {
  width: 100%;
  font-family: $fontFamily;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: $lineHeight;
  color: $secondaryFontColor;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
@media only screen and (max-width: 399px) {
  .itemCard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    &:hover {
      .itemDetails {
        background-color: #008000;
      }
    }
  }
}
