$fontFamily: "Quicksand", sans-serif;
$fontSize: 1.125rem;
$lineHeight: 25px;
$fontWeight: 500;
$primaryFontColor: #000;
$secondaryFontColor: #25f525;
$bgColor: #ec7b04;

.footer {
  height: auto;
  width: 90% !important;
  margin: auto;
  background-color: #fff;
  padding: 20px 70px 50px 70px;
  border-top: 2px solid #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.footerItem {
  height: auto;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
}
.footerLink {
  width: 100%;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $primaryFontColor;
  margin-bottom: 10px;
  &:hover {
    color: $secondaryFontColor;
  }
}
.footerItem:last-child {
  width: 250px;
}
.subscribeSectionHeader {
  font-family: $fontFamily;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: $lineHeight;
  span {
    font-weight: 600;
  }
}
.inputEmail {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}
.subscribeButton {
  width: 100%;
  background-color: $primaryFontColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: #fff;
  padding: 10px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  &:hover {
    color: $secondaryFontColor;
  }
}
