$fontFamily: "Quicksand", sans-serif;
$fontSize: 1.125rem;
$lineHeight: 25px;
$fontWeight: 500;
$primaryFontColor: #000;
$secondaryFontColor: #25f525;

.footer {
  height: auto;
  width: 100% !important;
  margin: auto;
  background-color: #fff;
  padding: 20px 80px 50px 80px;
  border-top: 2px solid #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footerItem {
  height: auto;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
}
.footerLink {
  width: 100%;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $primaryFontColor;
  margin-bottom: 10px;
  &:hover {
    color: $secondaryFontColor;
  }
}
.footerItem:last-child {
  width: 250px;
}
.subscribeSectionHeader {
  font-family: $fontFamily;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: $lineHeight;
  span {
    font-weight: 600;
  }
}
.inputEmail {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}
.subscribeButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryFontColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: #fff;
  padding: 10px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  &:hover {
    color: $secondaryFontColor;
  }
}

@media only screen and (max-width: 1067px) {
  .footer {
    height: auto;
    width: 100% !important;
    margin: auto;
    background-color: #fff;
    padding: 30px 50px 50px 50px;
    border-top: 2px solid #eee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 30px;
  }
  .footerItem {
    height: auto;
    margin-bottom: 20px;
  }
  .footerNav {
    display: flex;
    flex-wrap: wrap;
  }
  .footerItem:last-child {
    width: 250px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 700px) {
  .footer {
    height: auto;
    width: 100% !important;
    margin: auto;
    background-color: #fff;
    padding: 30px 50px 50px 50px;
    border-top: 2px solid #eee;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
  .footerItem {
    height: auto;
    margin-bottom: 20px;
    &:first-child {
      justify-self: left;
    }
  }
  .footerNav {
    display: flex;
    flex-wrap: wrap;
  }
  .footerItem:last-child {
    width: 250px;
  }
}
@media only screen and (max-width: 399px) {
  .footer {
    height: auto;
    width: 100% !important;
    margin: auto;
    background-color: #fff;
    padding: 40px 80px 50px 80px;
    border-top: 2px solid #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footerItem {
    height: auto;
    margin-bottom: 30px;
  }
}
