.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #ec7b04;
  color: #fff;
  height: 150px;
}
.footer-item {
}

.copy-right {
  color: #fff;
  background-color: #ec7b04;
  text-align: center;
}
