@import "~antd/dist/antd.css";

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  height: auto;
  padding: 0px 0px;
}
.ant-layout-header {
  height: 70px;
  padding: 10px 90px !important;
}
